*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserra", sans-serif;
}

.container{
    background: url(https://c.wallhere.com/photos/26/17/1920x1080_px_Akame_Ga_Kill_anime_Anime_Girls_Esdeath_ice-797646.jpg!d);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255, 0.174);
}

.navBar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.registerBtn{
    background: rgba(255, 255, 255, 0.651);
    padding: 6px 5px;
    margin: 12px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

.registerBtn:hover{
    background: rgba(255, 255, 255, 0.842);
}

.logBtn{
    padding: 6px 5px;
    margin: 12px;
    font-size: 14px;
    border-radius: 5px;
    background: none;
}

.logBtn:hover{
    margin: 32px;
    background: rgba(255, 255, 255, 0.842);
}

.content {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);

    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

.content h2{
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
}

.forgot{
    font-size: 13px;
    color: white;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
}

input { 
    height: 70%;
    width: 100%;
    background: transparent;
    border: 1px solid rgb(83, 83, 83);
    outline: none;
    /*color: #fff;*/
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #1a1a1a;
}

.space {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    margin-top: 16px;
}

.space span {
    color: #222;
    width: 40px;
    line-height: 45px;
}

.show {
    padding-right: 15px;
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: white;
    text-decoration: none;
}

.pass:hover a{
    text-decoration: underline;
}

.logInBtn{
    margin-left: 8px;
    letter-spacing: 1px;
    height: 40px;
    width: 70px;
    border: none;
    font-size: 16px;
    background: #509cb3;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.logInBtn:hover{
    background: #345b8ff5;
}

input::placeholder{
    padding-left: 13px;
    color: #151718;
}